.home-page {
    background-color: var(--background-dark);
}

.home-page img {
    width: 73%;
}

.home-page .restaurant-info {
    padding-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.restaurant-info h1,
.restaurant-info h2,
.restaurant-info h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    letter-spacing: .25em;

}

.restaurant-info h1{
    color: var(--emphasis);
}

.restaurant-info h2,
.restaurant-info h3{
    color: var(--low-contrast-rosy-brown);
}