body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content > img {
    width: 800px;
}