@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
:root {
    --emphasis: #6BD0C5;
    --background-dark: #283233;
    --background-light: #f6f4d5;
    --low-contrast-rosy-brown: #957575;
    --low-contrast-forest-green: #2e8226;
}
.im-fell-english-regular {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.im-fell-english-regular-italic {
font-family: "IM Fell English", serif;
font-weight: 400;
font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 25px;
    background-color: var(--low-contrast-forest-green);
}

header nav {
    display: flex;
    gap: 25px;
    padding-top: 25px;
}

header nav button {
    border: none;
    background-color: transparent;
    font-size: 2em;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--emphasis)
}

header nav button:hover {
    color: var(--low-contrast-rosy-brown)
}

#content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    border-radius: 1em;
}

footer{
    height: 100px;


}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;

}

footer > ul > li {
    opacity: 1;
    transition: opacity .25s cubic-bezier(.07, .95, 0, 1);
}

footer > ul:hover > li{
    opacity: 0.25;
}

footer > ul:hover > li:hover{
    opacity: 1;
}

footer ul li svg{
    width: 3em;
}
